<html>
  <head>
  <meta name="description" content="Hello, My Name Is Muhammet. I'm Full-Stack Developer">
    <title>Dr.motion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/style.css">
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/432854313736339466/a_8855bcfb9fc74a0b59fb291412ae7684.gif?size=1024">
    <link rel="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="icon" href="https://media.discordapp.net/attachments/861316754022072340/881447129070067752/giphy.png?width=225&height=281"  />

  </head>
  <body>
<div class="box">
  <br /><br />
  <div class="box-image">
  

    <img class="pluse-avatar-dnd" draggable="false" src="https://media.discordapp.net/attachments/891712958487470170/893037082061197342/mosin.png">
    
  </div>
  <h1>
    drmotion
  </h1>
  <p id="title"></p>
  <br /><br />
    <p id="drmotion-title"></p>
  <div class="flex-box discorcard">
    <div>
      <a class="nav-link" href="https://drmotion.glitch.me/yonlendir?url=https://discord.com/users/432854313736339466" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi-discord" style="color: blue;"></i> Discord</a>  
    </div>
      <div>
      <a class="nav-link" href="https://drmotion.glitch.me/yonlendir?url=https://www.instagram.com/drmotion.dc" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi-instagram" style="color: pink;"></i> Instagram</a>  
    </div>
      <div>
      <a class="nav-link" href="https://drmotion.glitch.me/yonlendir?url=https://github.com/drmotion" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi-github" style="color: white;"></i> Github</a>  
    </div>     
 <div>
      <a class="nav-link" href="https://drmotion.glitch.me/yonlendir?url=https://www.youtube.com/c/pinkcode" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi-youtube" style="color: red;"></i> Youtube</a>  
    </div>

  </div>  
    </div>  
   <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
  var options = {
  strings: [' <a class="nav-link" href="https://drmotion.glitch.me/yonlendir?url=https://discord.com/users/432854313736339466" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi-envelope"></i> Contact: drmotion@hotmail.com</a>'],
  typeSpeed: 40,
  cursorChar: '',
  showCursor: false
};
  var options_2 = {
  strings: ['Hello!', 'İ am drmotion.'," My real name is Mohammed. I was born in 2004, I am 17 years old. I am from Azerbaijan, I live in the city of Khirdalan. I am interested in software. I do projects that come to my mind. Sometimes I share my projects on my github account. If you want to reach me, you can check out my social media accounts below!"],
  typeSpeed: 40,
  cursorChar: '',
  showCursor: false
};
      
var typed = new Typed('#drmotion-title', options);
      var typed2 = new Typed('#title', options_2);
      
      
  </script>


  </body>
</html>
